$videoMaxHeight: 1800px;
$videoMaxWidth: $videoMaxHeight * 56.25 / 100;

$videoMinHeight: 600px;
$videoMinWidth: $videoMinHeight * 56.25 / 100;

//colors
$gray: rgba(196, 196, 196, 0.15);
$lightGray: #F6F6F6;

//fonts
$bigSize: 24px;
$normalSize: 14px;
$lineH: 1.3;
$bold: 700;
$extraBold: 800;
$normal: 400;